@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');

html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #734b6d, #FDB99B);
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

a {
  text-decoration: none;
}
