@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');

body {
  background: linear-gradient(to bottom, #734b6d, #FDB99B);
  height: 100%;
  min-height: 100vh;
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style-type: none;
}

svg {
  fill: #ffffff;
}

input {
  padding: 12px;
  border-radius: 6px;
  margin: 20px;
}

.raindrop {
  width: 13px;
  height: 13px;
}

.temperature {
  font-size: 7vw;
  line-height: 1.1em;
}

.justify-text {
  text-align: justify;
}

.justify-text::after {
  content: '';
  display: inline-block;
  width: 100%
}
